/Spielerliste BBO.xlsx
/membership_20200424.csv
/odd_row.html
/output.txt
/results.py
/row.html
/Spielerliste BBO.xlsx
/template.html
/upload.html
/venv/
/.gitignore
/bridgewebs_import.csv
/even_row.html
/.idea/.gitignore
/.idea/BBO.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/membership_20200718.csv
